@import "tailwindcss";

@import "./themes.css";



/* #root { */
/* max-width: 100vh; */
/* width: 100%; */ //*tailwindcss: w-full*/
/* border: solid 2px red; */
/* } */

/* body {
  display: flex;
  justify-content: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
} */
@layer base {
  :root {
    margin: 0;
    padding: 0;
  }
  
  body {
    @apply flex justify-center m-0 min-w-[320px] min-h-screen;
  }
}

body div {
  align-items: center;
  text-align: center;
}

h2 {
  color: blue;
}