@import "tailwindcss";

@layer theme{
 @theme {
   --color-primary-light: #dceded;
  }
}

@theme {

  --color-green: oklch(57.54% 0.17967 143.72);
--color-green-50: oklch(84.412% 0.17849 145.86);
--color-green-100: oklch(83.063% 0.19796 145.32);
--color-green-200: oklch(80.174% 0.22955 144.38);
--color-green-300: oklch(77.088% 0.2442 143.64);
--color-green-400: oklch(67.63% 0.21285 143.7);
--color-green-500: oklch(57.54% 0.17967 143.72);
--color-green-600: oklch(43.351% 0.13202 143.92);
--color-green-700: oklch(27.517% 0.07837 144.46);
--color-green-800: oklch(0% 0 none);
--color-green-900: oklch(0% 0 none);
--color-green-950: oklch(0% 0 none);

  --color-pastel-green: oklch(82.065% 0.21122 144.39);
  --color-pastel-green-50: oklch(99.216% 0.00742 151.89);
  --color-pastel-green-100: oklch(96.923% 0.03101 146.81);
  --color-pastel-green-200: oklch(92.621% 0.08131 146.45);
  --color-pastel-green-300: oklch(88.766% 0.12876 145.87);
  --color-pastel-green-400: oklch(85.028% 0.17308 145.16);
  --color-pastel-green-500: oklch(82.065% 0.21122 144.39);
  --color-pastel-green-600: oklch(78.783% 0.24779 143.37);
  --color-pastel-green-700: oklch(67.048% 0.21372 143.27);
  --color-pastel-green-800: oklch(53.474% 0.1683 143.34);
  --color-pastel-green-900: oklch(38.669% 0.11788 143.48);
  --color-pastel-green-950: oklch(30.897% 0.09103 143.71);
  
  /*https://www.tailwindshades.com/#color=0%2C0%2C14.117647058823529&step-up=8&step-down=11&hue-shift=0&name=dark&base-stop=5&v=1&overrides=e30%3D*/
  --color-mydark: oklch(26.032% 0 none);
  /*#242424*/
  --color-mydark-50: oklch(59.987% 0 none);
  --color-mydark-100: oklch(56.584% 0 none);
  --color-mydark-200: oklch(49.261% 0 none);
  --color-mydark-300: oklch(42.024% 0 none);
  --color-mydark-400: oklch(34.07% 0 none);
  --color-mydark-500: oklch(26.032% 0 none);
  --color-mydark-600: oklch(13.441% 0 none);
  --color-mydark-700: oklch(0% 0 none);
  --color-mydark-800: oklch(0% 0 none);
  --color-mydark-900: oklch(0% 0 none);
  --color-mydark-950: oklch(0% 0 none);

}



@custom-variant light {
  @media (prefers-color-scheme:light) {
    @slot;
  }
}

@layer base {
  
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /*https://openreplay.com/tools/hex-to-oklch/*/
    --bg-color-dark: #242424;
    /*oklch(26.03% 0.000 0)*/
    color-scheme: light dark;
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: var(--bg-color-dark); */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
    /* display: flex;
    place-items: center; */
    min-width: 320px;
    min-height: 100vh;
    /*Assests na SRC: URL realtivo ao caminho a partir
    do local do arquivo css (styles/index.css) para o local da imagem (../assets/img/)*/
    background-image: url('../assets/imgs/front-end-wallpapers.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: var(--bg-color-dark); */
    /* @apply bg-mydark-300; */
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button:hover {
    border-color: #646cff;
  }
  
  @variant dark {
    body {
      @apply bg-mydark-300;
    }
    
    button {
      background-color: #1a1a1a;
    }
    
    a {
      font-weight: 500;
      color: #646cff;
      text-decoration: inherit;
      @variant hover {
        color: #535bf2;
      }
    }
    
  }
  
  /* @media (prefers-color-scheme:light) {} */
  @variant light {
    
    html {
      color: #747bff;
      background-color: var(--color-primary-light);
    }
    
    body {
      background-color: var(--color-primary-light);
    }
    
    button {
      color: var(--color-primary-light);
      background-color: #747bff;
    }
    
    a:hover {
      color: #747bff;
    }
  }
}

@layer components {

  .btn {
    /* border-radius: 8px; */
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s; */
     @apply py-[0.6em] px-[1.2em] text-[1em] font-medium font-[inherit] cursor-pointer transition-[border-color] duration-[250ms] rounded-[8px];


    @apply rounded-[8px];

    @variant focus{
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
}

@utility primary {
    @apply bg-pastel-green-700 text-primary-light;

    @variant hover{
      @apply bg-green-300 border-green-600 text-green-600;
    }
    
    @variant dark {
      @apply bg-green-200 text-pastel-green-900;
      @variant hover{
        @apply bg-green-500 border-green-200  text-green-200;
      }
    }
}

@utility danger {
    @apply bg-red-700 text-primary-light;

    @variant hover{
      @apply bg-red-300 border-red-600 text-red-600;
    }
    
    @variant dark {
      @apply bg-red-200 text-red-900;
      @variant hover{
        @apply bg-red-500 border-red-200  text-red-200;
      }
    }
}
