

/*Assests na PUBLIC: URL absoluto ao caminho a partir
         da própria public para o local da imagem*/

/* .dev {
  
  background-image: url("/img/frontdev.png");
  background-size: cover;
  width: 50vw;
  aspect-ratio: 1;
  background-size: cover;
  background-color: #a9a7a7;
  border-radius: 50%;
}

@media (prefers-color-scheme: light) {
  .dev {
    background-color: lightblue;
  }
} */